<!DOCTYPE html>

<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html>
  <head>
    <meta charset="UTF-8">
    <title>Driving Log Generator</title>
    <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/darkly.min.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Driving Log Generator</h1>
      </div>

      <div class="row">
        {% if obdStatus %}
        <button class="btn btn-primary" type="button">
          OBD-II Port <span class="badge">OK</span>
        </button>
        {% else %}
        <button class="btn btn-danger" type="button">
          OBD-II Port <span class="badge">NOT OK</span>
        </button>
        {% endif %}
      </div>

      <br>

      <div class="row">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button id="startStop" type="button" class="btn btn-success">Start</button>
          </div>
          <div class="btn-group" role="group">
            <button id="nightButton" type="button" class="btn btn-warning">Nightime Driving Off</button>
          </div>
          <div class="btn-group" role="group">
            <a id="log" type="button" class="btn btn-primary" href="/log">View Log</a>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
    $(function(){
      $('#nightButton').on('click', function(e) {
        var self = this;
        $.get("/night", function(data) {
          $(self).toggleClass("btn-default");
          $(self).toggleClass("btn-warning");
          $(self).text( "Nightime Driving " + ($(self).hasClass("btn-warning") ? "Off" : "On") );
        });
      });
      $('#startStop').on('click', function(e) {
        var self = this;
        $.get("/startStop", function(data) {
          $(self).toggleClass("btn-success");
          $(self).toggleClass("btn-danger");
          $("#log").toggleClass("disabled");
          $(self).text( $(self).hasClass("btn-danger") ? "Stop" : "Start" );
        });
      });
      /*
      $('#exitButton').on('click', function(e) {
        $.get("/exit");
        var myWindow = window.open("", "_self");
        myWindow.document.write("");
        setTimeout(function(){myWindow.close();}, 1000);
      });
      */
    });
    </script>
  </body>
</html>
