<!DOCTYPE html>

<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<html>
  <head>
    <meta charset="UTF-8">
    <title>Driving Log</title>
    <link rel='stylesheet prefetch' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
    th {
      text-align: center;
    }

    .line div {
      margin-top: 50px;
      border-top: 1px solid #000;
      text-align: center;
    }

    .edit {
      display: inline;
    }

    .edit input {
      width: 125px !important;
      height: 25px !important;
    }

    @media print {
      thead {
        display: table-header-group;
      }
    }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <h1>45-Hour Driving Log</h1>
      </div>
      <div class="row table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="5%">Date</th>
              <th width="10%">Session/Page Number(s)</th>
              <th width="10%">Total Time Driven</th>
              <th width="10%">Total Mileage</th>
              <th width="10%">Night Driving Time</th>
              <th width="55%">Parent/Guardian Signature</th>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr>
              <td class="date">{{ row[0] }}</td>
              <td class="session">N/A</td>
              <td class="total">{{ row[1] }}</td>
              <td class="mileage">{{ row[2] }}</td>
              <td class="night">{{ row[3] }}</td>
              <td class="initials"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if complete %}
      <div class="row">
        <p>I certify that <b class="edit">{{ name }}</b> has completed 45 hours of guided practice, 15 of which were after sunset. It is illegal for anyone to give false information in connection with obtaining a driver's license. This certification is considered part of the driver's license application, and anyone who certifies to a false statement may be prosecuted. I certify that the statements made and the information submitted by me regarding this certification are true and correct.</p>
      </div>
      <div class="row line">
        <div class="sign col-md-5">Parent/Guardian’s Signature</div>
        <div class="date col-md-2">Date</div>
        <div class="dmv col-md-5">Parent/Guardian’s Driver’s License or DMV-issued Identification Number</div>
      </div>
      {% endif %}

      <div class="row">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button id="saveButton" class="btn btn-primary" type="button">
              Save Log to USB
            </button>
          </div>
          <div class="btn-group" role="group">
            <button id="loadButton" class="btn btn-primary" type="button">
              Load Log from USB
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
    $(function(){
      $('#saveButton').on('click', function(e) {
        $.get("/save");
        location.reload();
      });
      $('#loadButton').on('click', function(e) {
        $.get("/load");
        location.reload();
      });
      /*
      $('#exitButton').on('click', function(e) {
        $.get("/exit");
        var myWindow = window.open("", "_self");
        myWindow.document.write("");
        setTimeout (function() {myWindow.close();},1000);
      });
      */
    });
    </script>
  </body>
</html>
